
.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    box-sizing: content-box;
    color: #333;
    cursor: inherit;
    direction: ltr;
    float: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: auto;
    line-height: normal;
    margin: 0;
    max-width: none;
    outline: 0 none;
    padding: 0;
    position: static;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}
.mce-widget button {
    box-sizing: border-box;
}
.mce-container [unselectable] {
    -moz-user-select: none;
}
.mce-fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
.mce-fade.mce-in {
    opacity: 1;
}
.mce-tinymce {
    position: relative;
    visibility: inherit;
}
.mce-fullscreen {
    border: 0 none;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    z-index: 100;
}
div.mce-fullscreen {
    height: auto;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.mce-tinymce {
    border-radius: 2px;
    display: block;
}
.mce-wordcount {
    padding: 8px;
    position: absolute;
    right: 0;
    top: 0;
}
div.mce-edit-area {
    background: #fff none repeat scroll 0 0;
    filter: none;
}
.mce-statusbar {
    position: relative;
}
.mce-statusbar .mce-container-body {
    position: relative;
}
.mce-fullscreen .mce-resizehandle {
    display: none;
}
.mce-charmap {
    border-collapse: collapse;
}
.mce-charmap td {
    border: 1px solid #9e9e9e;
    cursor: default;
    height: 20px;
    line-height: 20px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}
.mce-charmap td div {
    text-align: center;
}
.mce-charmap td:hover {
    background: #d9d9d9 none repeat scroll 0 0;
}
.mce-grid td.mce-grid-cell div {
    border: 1px solid #d6d6d6;
    cursor: pointer;
    height: 15px;
    margin: 0;
    width: 15px;
}
.mce-grid td.mce-grid-cell div:focus {
    border-color: #a1a1a1;
}
.mce-grid td.mce-grid-cell div[disabled] {
    cursor: not-allowed;
}
.mce-grid {
    border-collapse: separate;
    border-spacing: 2px;
}
.mce-grid a {
    border: 1px solid transparent;
    display: block;
}
.mce-grid a:hover, .mce-grid a:focus {
    border-color: #a1a1a1;
}
.mce-grid-border {
    margin: 0 4px;
}
.mce-grid-border a {
    border-color: #d6d6d6;
    height: 13px;
    width: 13px;
}
.mce-grid-border a:hover, .mce-grid-border a.mce-active {
    background: #c8def4 none repeat scroll 0 0;
    border-color: #a1a1a1;
}
.mce-text-center {
    text-align: center;
}
div.mce-tinymce-inline {
    box-shadow: none;
    width: 100%;
}
.mce-colorbtn-trans div {
    color: #707070;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
}
.mce-toolbar-grp {
    padding-bottom: 2px;
}
.mce-toolbar-grp .mce-flow-layout-item {
    margin-bottom: 0;
}
.mce-rtl .mce-wordcount {
    left: 0;
    right: auto;
}
.mce-container, .mce-container-body {
    display: block;
}
.mce-autoscroll {
    overflow: hidden;
}
.mce-scrollbar {
    height: 100%;
    opacity: 0.4;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 7px;
}
.mce-scrollbar-h {
    bottom: 2px;
    height: 7px;
    left: 2px;
    right: auto;
    top: auto;
    width: 100%;
}
.mce-scrollbar-thumb {
    background-color: #000;
    border: 1px solid rgba(85, 85, 85, 0.6);
    border-radius: 7px;
    height: 100%;
    position: absolute;
    width: 5px;
}
.mce-scrollbar-h .mce-scrollbar-thumb {
    height: 5px;
    width: 100%;
}
.mce-scrollbar:hover, .mce-scrollbar.mce-active {
    background-color: #aaa;
    border-radius: 7px;
    opacity: 0.6;
}
.mce-scroll {
    position: relative;
}
.mce-panel {
    background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, #fdfdfd, #ddd);
    background-repeat: repeat-x;
    border: 0 solid #9e9e9e;
}
.mce-floatpanel {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
}
.mce-floatpanel.mce-fixed {
    position: fixed;
}
.mce-floatpanel .mce-arrow, .mce-floatpanel .mce-arrow::after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
.mce-floatpanel .mce-arrow {
    border-width: 11px;
}
.mce-floatpanel .mce-arrow::after {
    border-width: 10px;
    content: "";
}
.mce-floatpanel.mce-popover {
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
}
.mce-floatpanel.mce-popover.mce-bottom {
    margin-top: 10px;
}
.mce-floatpanel.mce-popover.mce-bottom > .mce-arrow {
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-top-width: 0;
    left: 50%;
    margin-left: -11px;
    top: -11px;
}
.mce-floatpanel.mce-popover.mce-bottom > .mce-arrow::after {
    border-bottom-color: #fff;
    border-top-width: 0;
    margin-left: -10px;
    top: 1px;
}
.mce-floatpanel.mce-popover.mce-bottom.mce-start {
    margin-left: -22px;
}
.mce-floatpanel.mce-popover.mce-bottom.mce-start > .mce-arrow {
    left: 20px;
}
.mce-floatpanel.mce-popover.mce-bottom.mce-end {
    margin-left: 22px;
}
.mce-floatpanel.mce-popover.mce-bottom.mce-end > .mce-arrow {
    left: auto;
    right: 10px;
}
.mce-fullscreen {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
div.mce-fullscreen {
    left: 0;
    position: fixed;
    top: 0;
}
#mce-modal-block {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
#mce-modal-block.mce-in {
    opacity: 0.3;
}
.mce-window-move {
    cursor: move;
}
.mce-window {
    background: #fff none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 150ms ease-in 0s;
}
.mce-window.mce-in {
    opacity: 1;
}
.mce-window-head {
    border-bottom: 1px solid #c5c5c5;
    padding: 9px 15px;
    position: relative;
}
.mce-window-head .mce-close {
    color: #858585;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 9px;
}
.mce-close:hover {
    color: #adadad;
}
.mce-window-head .mce-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    padding-right: 10px;
    text-rendering: optimizelegibility;
}
.mce-window .mce-container-body {
    display: block;
}
.mce-foot {
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #c5c5c5;
    display: block;
}
.mce-window-head .mce-dragh {
    cursor: move;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 90%;
}
.mce-window iframe {
    height: 100%;
    width: 100%;
}
.mce-window.mce-fullscreen, .mce-window.mce-fullscreen .mce-foot {
    border-radius: 0;
}
.mce-rtl .mce-window-head .mce-close {
    left: 15px;
    position: absolute;
    right: auto;
}
.mce-rtl .mce-window-head .mce-dragh {
    left: auto;
    right: 0;
}
.mce-rtl .mce-window-head .mce-title {
    direction: rtl;
    text-align: right;
}
.mce-abs-layout {
    position: relative;
}
body .mce-abs-layout-item, .mce-abs-end {
    position: absolute;
}
.mce-abs-end {
    height: 1px;
    width: 1px;
}
.mce-container-body.mce-abs-layout {
    overflow: hidden;
}
.mce-tooltip {
    opacity: 0.8;
    padding: 5px;
    position: absolute;
}
.mce-tooltip-inner {
    background-color: #000;
    color: #fff;
    font-size: 11px;
    max-width: 200px;
    padding: 5px 8px 4px;
    text-align: center;
    white-space: normal;
}
.mce-tooltip-inner {
    border-radius: 3px;
}
.mce-tooltip-inner {
    box-shadow: 0 0 5px #000;
}
.mce-tooltip-arrow {
    border: 5px dashed #000;
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0;
}
.mce-tooltip-arrow-n {
    border-bottom-color: #000;
}
.mce-tooltip-arrow-s {
    border-top-color: #000;
}
.mce-tooltip-arrow-e {
    border-left-color: #000;
}
.mce-tooltip-arrow-w {
    border-right-color: #000;
}
.mce-tooltip-nw, .mce-tooltip-sw {
    margin-left: -14px;
}
.mce-tooltip-n .mce-tooltip-arrow {
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: medium none;
    left: 50%;
    margin-left: -5px;
    top: 0;
}
.mce-tooltip-nw .mce-tooltip-arrow {
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: medium none;
    left: 10px;
    top: 0;
}
.mce-tooltip-ne .mce-tooltip-arrow {
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: medium none;
    right: 10px;
    top: 0;
}
.mce-tooltip-s .mce-tooltip-arrow {
    border-bottom: medium none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-style: solid;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}
.mce-tooltip-sw .mce-tooltip-arrow {
    border-bottom: medium none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-style: solid;
    bottom: 0;
    left: 10px;
}
.mce-tooltip-se .mce-tooltip-arrow {
    border-bottom: medium none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-style: solid;
    bottom: 0;
    right: 10px;
}
.mce-tooltip-e .mce-tooltip-arrow {
    border-bottom-color: transparent;
    border-left-style: solid;
    border-right: medium none;
    border-top-color: transparent;
    margin-top: -5px;
    right: 0;
    top: 50%;
}
.mce-tooltip-w .mce-tooltip-arrow {
    border-bottom-color: transparent;
    border-left: medium none;
    border-right-style: solid;
    border-top-color: transparent;
    left: 0;
    margin-top: -5px;
    top: 50%;
}
.mce-btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, #fff, #d9d9d9);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    position: relative;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.mce-btn:hover, .mce-btn:focus {
    background-color: #e3e3e3;
    background-image: linear-gradient(to bottom, #f2f2f2, #ccc);
    background-repeat: repeat-x;
    color: #333;
}
.mce-btn.mce-disabled button, .mce-btn.mce-disabled:hover button {
    box-shadow: none;
    cursor: default;
    opacity: 0.4;
}
.mce-btn.mce-active, .mce-btn.mce-active:hover {
    background-color: #d6d6d6;
    background-image: linear-gradient(to bottom, #e6e6e6, silver);
    background-repeat: repeat-x;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.mce-btn:active {
    background-color: #d6d6d6;
    background-image: linear-gradient(to bottom, #e6e6e6, silver);
    background-repeat: repeat-x;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.mce-btn button {
    color: #333;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    overflow: visible;
    padding: 4px 10px;
    text-align: center;
}
.mce-btn button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
.mce-btn i {
    text-shadow: 1px 1px #fff;
}
.mce-primary {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #006dcc;
    background-image: linear-gradient(to bottom, #08c, #04c);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    min-width: 50px;
}
.mce-primary:hover, .mce-primary:focus {
    background-color: #005fb3;
    background-image: linear-gradient(to bottom, #0077b3, #003cb3);
    background-repeat: repeat-x;
}
.mce-primary.mce-disabled button, .mce-primary.mce-disabled:hover button {
    box-shadow: none;
    cursor: default;
    opacity: 0.4;
}
.mce-primary.mce-active, .mce-primary.mce-active:hover, .mce-primary:active:not(.mce-disabled) {
    background-color: #005299;
    background-image: linear-gradient(to bottom, #069, #039);
    background-repeat: repeat-x;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.mce-primary button, .mce-primary button i {
    color: #fff;
    text-shadow: 1px 1px #333;
}
.mce-btn-large button {
    border-radius: 5px;
    font-size: 16px;
    line-height: normal;
    padding: 9px 14px;
}
.mce-btn-large i {
    margin-top: 2px;
}
.mce-btn-small button {
    font-size: 12px;
    padding: 1px 5px;
}
.mce-btn-small i {
    line-height: 20px;
    vertical-align: top;
}
.mce-btn .mce-caret {
    margin-left: 0;
    margin-top: 8px;
}
.mce-btn-small .mce-caret {
    margin-left: 0;
    margin-top: 8px;
}
.mce-caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}
.mce-disabled .mce-caret {
    border-top-color: #aaa;
}
.mce-caret.mce-up {
    border-bottom: 4px solid #333;
    border-top: 0 none;
}
.mce-btn-flat {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    filter: none;
}
.mce-btn-flat:hover, .mce-btn-flat.mce-active, .mce-btn-flat:focus, .mce-btn-flat:active {
    background: #e6e6e6 none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    filter: none;
}
.mce-rtl .mce-btn button {
    direction: rtl;
}
.mce-btn-group .mce-btn {
    border-radius: 0;
    border-width: 1px 0;
    margin: 0;
}
.mce-btn-group .mce-first {
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px 0 0 3px;
}
.mce-btn-group .mce-last {
    border-radius: 0 3px 3px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.mce-btn-group .mce-first.mce-last {
    border-radius: 3px;
}
.mce-btn-group .mce-btn.mce-flow-layout-item {
    margin: 0;
}
.mce-checkbox {
    cursor: pointer;
}
i.mce-i-checkbox {
    background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, #fff, #d9d9d9);
    background-repeat: repeat-x;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 3px 0 0;
    overflow: hidden;
    text-indent: -10em;
}
.mce-checked i.mce-i-checkbox {
    color: #333;
    font-size: 16px;
    line-height: 16px;
    text-indent: 0;
}
.mce-checkbox:focus i.mce-i-checkbox, .mce-checkbox.mce-focus i.mce-i-checkbox {
    border: 1px solid rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.65);
}
.mce-checkbox.mce-disabled .mce-label, .mce-checkbox.mce-disabled i.mce-i-checkbox {
    color: #acacac;
}
.mce-rtl .mce-checkbox {
    direction: rtl;
    text-align: right;
}
.mce-rtl i.mce-i-checkbox {
    margin: 0 0 0 3px;
}
.mce-combobox {
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: inline-block;
}
.mce-combobox input {
    border: 1px solid #c5c5c5;
    height: 28px;
}
.mce-combobox.mce-disabled input {
    color: #adadad;
}
.mce-combobox.mce-has-open input {
    border-radius: 4px 0 0 4px;
}
.mce-combobox .mce-btn {
    border-left: 0 none;
    border-radius: 0 4px 4px 0;
}
.mce-combobox button {
    padding-left: 8px;
    padding-right: 8px;
}
.mce-combobox.mce-disabled .mce-btn button {
    box-shadow: none;
    cursor: default;
    opacity: 0.4;
}
.mce-colorbox i {
    border: 1px solid #c5c5c5;
    height: 14px;
    width: 14px;
}
.mce-colorbutton .mce-ico {
    position: relative;
}
.mce-colorbutton-grid {
    margin: 4px;
}
.mce-colorbutton button {
    padding-right: 4px;
}
.mce-colorbutton .mce-preview {
    background: gray none repeat scroll 0 0;
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -14px;
    margin-top: 7px;
    overflow: hidden;
    padding-right: 3px;
    position: absolute;
    top: 50%;
    width: 13px;
}
.mce-colorbutton.mce-btn-small .mce-preview {
    margin-left: -16px;
    padding-right: 0;
    width: 16px;
}
.mce-colorbutton .mce-open {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding-left: 4px;
}
.mce-colorbutton:hover .mce-open {
    border-left-color: #bdbdbd;
    border-right-color: #bdbdbd;
}
.mce-colorbutton.mce-btn-small .mce-open {
    padding: 0 3px;
}
.mce-rtl .mce-colorbutton {
    direction: rtl;
}
.mce-rtl .mce-colorbutton .mce-preview {
    margin-left: 0;
    margin-right: -14px;
    padding-left: 4px;
    padding-right: 0;
}
.mce-rtl .mce-colorbutton.mce-btn-small .mce-preview {
    margin-left: 0;
    margin-right: -17px;
    padding-left: 0;
    padding-right: 0;
}
.mce-rtl .mce-colorbutton button {
    padding-left: 10px;
    padding-right: 10px;
}
.mce-rtl .mce-colorbutton .mce-open {
    padding-left: 4px;
    padding-right: 4px;
}
.mce-colorpicker {
    height: 220px;
    position: relative;
    width: 250px;
}
.mce-colorpicker-sv {
    border: 1px solid #c5c5c5;
    cursor: crosshair;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 90%;
}
.mce-colorpicker-h-chunk {
    width: 100%;
}
.mce-colorpicker-overlay1, .mce-colorpicker-overlay2 {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.mce-colorpicker-overlay1 {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #fff, rgba(255, 255, 255, 0)) repeat scroll 0 0;
}
.mce-colorpicker-overlay2 {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0), #000) repeat scroll 0 0;
}
.mce-colorpicker-selector1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #000;
    border-radius: 50%;
    height: 12px;
    margin: -8px 0 0 -8px;
    position: absolute;
    width: 12px;
}
.mce-colorpicker-selector2 {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
}
.mce-colorpicker-h {
    border: 1px solid #c5c5c5;
    cursor: crosshair;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 6.5%;
}
.mce-colorpicker-h-marker {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #333;
    height: 4px;
    left: -1px;
    margin-top: -4px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.mce-path {
    display: inline-block;
    padding: 8px;
    white-space: normal;
}
.mce-path .mce-txt {
    display: inline-block;
    padding-right: 3px;
}
.mce-path .mce-path-body {
    display: inline-block;
}
.mce-path-item {
    color: #333;
    cursor: pointer;
    display: inline-block;
}
.mce-path-item:hover {
    text-decoration: underline;
}
.mce-path-item:focus {
    background: #666 none repeat scroll 0 0;
    color: #fff;
}
.mce-path .mce-divider {
    display: inline;
}
.mce-disabled .mce-path-item {
    color: #aaa;
}
.mce-rtl .mce-path {
    direction: rtl;
}
.mce-fieldset {
    border: 0 solid #9e9e9e;
    border-radius: 3px;
}
.mce-fieldset > .mce-container-body {
    margin-top: -15px;
}
.mce-fieldset-title {
    margin-left: 5px;
    padding: 0 5px;
}
.mce-fit-layout {
    display: inline-block;
}
.mce-fit-layout-item {
    position: absolute;
}
.mce-flow-layout-item {
    display: inline-block;
}
.mce-flow-layout-item {
    margin: 2px 0 2px 2px;
}
.mce-flow-layout-item.mce-last {
    margin-right: 2px;
}
.mce-flow-layout {
    white-space: normal;
}
.mce-tinymce-inline .mce-flow-layout {
    white-space: nowrap;
}
.mce-rtl .mce-flow-layout {
    direction: rtl;
    text-align: right;
}
.mce-rtl .mce-flow-layout-item {
    margin: 2px 2px 2px 0;
}
.mce-rtl .mce-flow-layout-item.mce-last {
    margin-left: 2px;
}
.mce-iframe {
    border: 0 solid #9e9e9e;
    height: 100%;
    width: 100%;
}
.mce-label {
    display: inline-block;
    overflow: hidden;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.mce-label.mce-autoscroll {
    overflow: auto;
}
.mce-label.mce-disabled {
    color: #aaa;
}
.mce-label.mce-multiline {
    white-space: pre-wrap;
}
.mce-label.mce-error {
    color: #a00;
}
.mce-rtl .mce-label {
    direction: rtl;
    text-align: right;
}
.mce-menubar .mce-menubtn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
    filter: none;
}
.mce-menubar {
    border: 1px solid #c4c4c4;
}
.mce-menubar .mce-menubtn button span {
    color: #333;
}
.mce-menubar .mce-caret {
    border-top-color: #333;
}
.mce-menubar .mce-menubtn:hover, .mce-menubar .mce-menubtn.mce-active, .mce-menubar .mce-menubtn:focus {
    background: #e6e6e6 none repeat scroll 0 0;
    border-color: transparent;
    box-shadow: none;
    filter: none;
}
.mce-menubtn span {
    color: #333;
    line-height: 20px;
    margin-right: 2px;
}
.mce-menubtn.mce-btn-small span {
    font-size: 12px;
}
.mce-menubtn.mce-fixed-width span {
    display: inline-block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 90px;
}
.mce-menubtn.mce-fixed-width.mce-btn-small span {
    width: 70px;
}
.mce-rtl .mce-menubtn button {
    direction: rtl;
    text-align: right;
}
.mce-listbox button {
    padding-right: 20px;
    position: relative;
    text-align: left;
}
.mce-listbox .mce-caret {
    margin-top: -2px;
    position: absolute;
    right: 8px;
    top: 50%;
}
.mce-rtl .mce-listbox .mce-caret {
    left: 8px;
    right: auto;
}
.mce-rtl .mce-listbox button {
    padding-left: 20px;
    padding-right: 10px;
}
.mce-menu-item {
    border-left: 4px solid transparent;
    clear: both;
    color: #333;
    cursor: pointer;
    display: block;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1px;
    padding: 6px 15px 6px 12px;
    white-space: nowrap;
}
.mce-menu-item .mce-ico, .mce-menu-item .mce-text {
    color: #333;
}
.mce-menu-item.mce-disabled .mce-text, .mce-menu-item.mce-disabled .mce-ico {
    color: #adadad;
}
.mce-menu-item:hover .mce-text, .mce-menu-item.mce-selected .mce-text, .mce-menu-item:focus .mce-text {
    color: #fff;
}
.mce-menu-item:hover .mce-ico, .mce-menu-item.mce-selected .mce-ico, .mce-menu-item:focus .mce-ico {
    color: #fff;
}
.mce-menu-item.mce-disabled:hover {
    background: #ccc none repeat scroll 0 0;
}
.mce-menu-shortcut {
    color: #adadad;
    display: inline-block;
}
.mce-menu-shortcut {
    display: inline-block;
    padding: 0 15px 0 20px;
}
.mce-menu-item:hover .mce-menu-shortcut, .mce-menu-item.mce-selected .mce-menu-shortcut, .mce-menu-item:focus .mce-menu-shortcut {
    color: #fff;
}
.mce-menu-item .mce-caret {
    border-bottom: 4px solid transparent;
    border-left: 4px solid #333;
    border-top: 4px solid transparent;
    margin-right: 6px;
    margin-top: 4px;
}
.mce-menu-item.mce-selected .mce-caret, .mce-menu-item:focus .mce-caret, .mce-menu-item:hover .mce-caret {
    border-left-color: #fff;
}
.mce-menu-align .mce-menu-shortcut, .mce-menu-align .mce-caret {
    position: absolute;
    right: 0;
}
.mce-menu-item.mce-active i {
    visibility: visible;
}
.mce-menu-item-normal.mce-active {
    background-color: #c8def4;
}
.mce-menu-item-preview.mce-active {
    border-left: 5px solid #aaa;
}
.mce-menu-item-normal.mce-active .mce-text {
    color: #333;
}
.mce-menu-item-normal.mce-active:hover .mce-text, .mce-menu-item-normal.mce-active:hover .mce-ico {
    color: #fff;
}
.mce-menu-item-normal.mce-active:focus .mce-text, .mce-menu-item-normal.mce-active:focus .mce-ico {
    color: #fff;
}
.mce-menu-item:hover, .mce-menu-item.mce-selected, .mce-menu-item:focus {
    background-color: #0081c2;
    background-image: linear-gradient(to bottom, #08c, #0077b3);
    background-repeat: repeat-x;
    color: #fff;
    text-decoration: none;
}
div.mce-menu .mce-menu-item-sep, .mce-menu-item-sep:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #cbcbcb none repeat scroll 0 0;
    border-color: currentcolor currentcolor #fff;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    cursor: default;
    filter: none;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    padding: 0;
}
.mce-menu.mce-rtl {
    direction: rtl;
}
.mce-rtl .mce-menu-item {
    direction: rtl;
    padding: 6px 12px 6px 15px;
    text-align: right;
}
.mce-menu-align.mce-rtl .mce-menu-shortcut, .mce-menu-align.mce-rtl .mce-caret {
    left: 0;
    right: auto;
}
.mce-rtl .mce-menu-item .mce-caret {
    border-left: 0 none;
    border-right: 4px solid #333;
    margin-left: 6px;
    margin-right: 0;
}
.mce-rtl .mce-menu-item.mce-selected .mce-caret, .mce-rtl .mce-menu-item:focus .mce-caret, .mce-rtl .mce-menu-item:hover .mce-caret {
    border-left-color: transparent;
    border-right-color: #fff;
}
.mce-menu {
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    left: 0;
    margin: 2px 0 0;
    max-height: 400px;
    min-width: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 0;
    position: absolute;
    top: 0;
    z-index: 1002;
}
.mce-menu i {
    display: none;
}
.mce-menu-has-icons i {
    display: inline-block;
}
.mce-menu-sub-tr-tl {
    margin: -6px 0 0 -1px;
}
.mce-menu-sub-br-bl {
    margin: 6px 0 0 -1px;
}
.mce-menu-sub-tl-tr {
    margin: -6px 0 0 1px;
}
.mce-menu-sub-bl-br {
    margin: 6px 0 0 1px;
}
.mce-container-body .mce-resizehandle {
    bottom: 0;
    cursor: s-resize;
    height: 16px;
    margin: 0;
    position: absolute;
    right: 0;
    visibility: visible;
    width: 16px;
}
.mce-container-body .mce-resizehandle-both {
    cursor: se-resize;
}
i.mce-i-resize {
    color: #333;
}
.mce-spacer {
    visibility: hidden;
}
.mce-splitbtn .mce-open {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.mce-splitbtn:hover .mce-open {
    border-left-color: #bdbdbd;
    border-right-color: #bdbdbd;
}
.mce-splitbtn button {
    padding-right: 4px;
}
.mce-splitbtn .mce-open {
    padding-left: 4px;
}
.mce-splitbtn .mce-open.mce-active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.mce-splitbtn.mce-btn-small .mce-open {
    padding: 0 3px;
}
.mce-rtl .mce-splitbtn {
    direction: rtl;
    text-align: right;
}
.mce-rtl .mce-splitbtn button {
    padding-left: 10px;
    padding-right: 10px;
}
.mce-rtl .mce-splitbtn .mce-open {
    padding-left: 4px;
    padding-right: 4px;
}
.mce-stack-layout-item {
    display: block;
}
.mce-tabs {
    border-bottom: 1px solid #c5c5c5;
    display: block;
}
.mce-tab {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #e3e3e3 none repeat scroll 0 0;
    border-color: #c5c5c5;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 0 0;
    cursor: pointer;
    display: inline-block;
    height: 13px;
    padding: 8px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.mce-tab:hover {
    background: #fdfdfd none repeat scroll 0 0;
}
.mce-tab.mce-active {
    background: #fdfdfd none repeat scroll 0 0;
    border-bottom-color: transparent;
    height: 14px;
    margin-bottom: -1px;
}
.mce-rtl .mce-tabs {
    direction: rtl;
    text-align: right;
}
.mce-rtl .mce-tab {
    border-width: 0 0 0 1px;
}
.mce-textbox {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333;
    display: inline-block;
    height: 28px;
    padding: 0 4px;
    resize: none;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    white-space: pre-wrap;
}
.mce-textbox:focus, .mce-textbox.mce-focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.65);
}
.mce-placeholder .mce-textbox {
    color: #aaa;
}
.mce-textbox.mce-multiline {
    padding: 4px;
}
.mce-textbox.mce-disabled {
    color: #adadad;
}
.mce-rtl .mce-textbox {
    direction: rtl;
    text-align: right;
}
.mce-throbber {
    background: #fff url("img/loader.gif") no-repeat scroll center center;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}
.mce-throbber-inline {
    height: 50px;
    position: static;
}
@font-face {
    font-family: "tinymce";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/tinymce.eot?#iefix") format("embedded-opentype"), url("fonts/tinymce.woff") format("woff"), url("fonts/tinymce.ttf") format("truetype"), url("fonts/tinymce.svg#tinymce") format("svg");
}
@font-face {
    font-family: "tinymce-small";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/tinymce-small.eot?#iefix") format("embedded-opentype"), url("fonts/tinymce-small.woff") format("woff"), url("fonts/tinymce-small.ttf") format("truetype"), url("fonts/tinymce-small.svg#tinymce") format("svg");
}
.mce-ico {
    background: transparent none repeat scroll center center / cover ;
    color: #333;
    display: inline-block;
    font-family: tinymce,Arial;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;
    width: 16px;
}
.mce-btn-small .mce-ico {
    font-family: tinymce-small,Arial;
}
.mce-i-save::before {
    content: "";
}
.mce-i-newdocument::before {
    content: "";
}
.mce-i-fullpage::before {
    content: "";
}
.mce-i-alignleft::before {
    content: "";
}
.mce-i-aligncenter::before {
    content: "";
}
.mce-i-alignright::before {
    content: "";
}
.mce-i-alignjustify::before {
    content: "";
}
.mce-i-cut::before {
    content: "";
}
.mce-i-paste::before {
    content: "";
}
.mce-i-searchreplace::before {
    content: "";
}
.mce-i-bullist::before {
    content: "";
}
.mce-i-numlist::before {
    content: "";
}
.mce-i-indent::before {
    content: "";
}
.mce-i-outdent::before {
    content: "";
}
.mce-i-blockquote::before {
    content: "";
}
.mce-i-undo::before {
    content: "";
}
.mce-i-redo::before {
    content: "";
}
.mce-i-link::before {
    content: "";
}
.mce-i-unlink::before {
    content: "";
}
.mce-i-anchor::before {
    content: "";
}
.mce-i-image::before {
    content: "";
}
.mce-i-media::before {
    content: "";
}
.mce-i-help::before {
    content: "";
}
.mce-i-code::before {
    content: "";
}
.mce-i-insertdatetime::before {
    content: "";
}
.mce-i-preview::before {
    content: "";
}
.mce-i-forecolor::before {
    content: "";
}
.mce-i-backcolor::before {
    content: "";
}
.mce-i-table::before {
    content: "";
}
.mce-i-hr::before {
    content: "";
}
.mce-i-removeformat::before {
    content: "";
}
.mce-i-subscript::before {
    content: "";
}
.mce-i-superscript::before {
    content: "";
}
.mce-i-charmap::before {
    content: "";
}
.mce-i-emoticons::before {
    content: "";
}
.mce-i-print::before {
    content: "";
}
.mce-i-fullscreen::before {
    content: "";
}
.mce-i-spellchecker::before {
    content: "";
}
.mce-i-nonbreaking::before {
    content: "";
}
.mce-i-template::before {
    content: "";
}
.mce-i-pagebreak::before {
    content: "";
}
.mce-i-restoredraft::before {
    content: "";
}
.mce-i-untitled::before {
    content: "";
}
.mce-i-bold::before {
    content: "";
}
.mce-i-italic::before {
    content: "";
}
.mce-i-underline::before {
    content: "";
}
.mce-i-strikethrough::before {
    content: "";
}
.mce-i-visualchars::before {
    content: "";
}
.mce-i-visualblocks::before {
    content: "";
}
.mce-i-ltr::before {
    content: "";
}
.mce-i-rtl::before {
    content: "";
}
.mce-i-copy::before {
    content: "";
}
.mce-i-resize::before {
    content: "";
}
.mce-i-browse::before {
    content: "";
}
.mce-i-pastetext::before {
    content: "";
}
.mce-i-checkbox::before, .mce-i-selected::before {
    content: "";
}
.mce-i-selected {
    visibility: hidden;
}
i.mce-i-backcolor {
    background: #bbb none repeat scroll 0 0;
    text-shadow: none;
}


/* ========================================================================
 * bootstrap-switch - v3.0.2
 * http://www.bootstrap-switch.org
 * ========================================================================
 * Copyright 2012-2013 Mattia Larentis
 *
 * ========================================================================
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 */

.bootstrap-switch{display:inline-block;cursor:pointer;border-radius:4px;border:1px solid;border-color:#ccc;position:relative;text-align:left;overflow:hidden;line-height:8px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align:middle;min-width:100px;-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}.bootstrap-switch.bootstrap-switch-mini{min-width:71px}.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label{padding-bottom:4px;padding-top:4px;font-size:10px;line-height:9px}.bootstrap-switch.bootstrap-switch-small{min-width:79px}.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label{padding-bottom:3px;padding-top:3px;font-size:12px;line-height:18px}.bootstrap-switch.bootstrap-switch-large{min-width:120px}.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label{padding-bottom:9px;padding-top:9px;font-size:16px;line-height:normal}.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container{-webkit-transition:margin-left .5s;transition:margin-left .5s}.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-container{margin-left:0}.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label{border-bottom-right-radius:3px;border-top-right-radius:3px}.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-container{margin-left:-50%}.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label{border-bottom-left-radius:3px;border-top-left-radius:3px}.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-container{margin-left:-25%}.bootstrap-switch.bootstrap-switch-disabled,.bootstrap-switch.bootstrap-switch-readonly,.bootstrap-switch.bootstrap-switch-indeterminate{opacity:.5;filter:alpha(opacity=50);cursor:default!important}.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label{cursor:default!important}.bootstrap-switch.bootstrap-switch-focused{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}.bootstrap-switch .bootstrap-switch-container{display:inline-block;width:150%;top:0;border-radius:4px;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.bootstrap-switch .bootstrap-switch-handle-on,.bootstrap-switch .bootstrap-switch-handle-off,.bootstrap-switch .bootstrap-switch-label{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;cursor:pointer;display:inline-block!important;height:100%;padding-bottom:4px;padding-top:4px;font-size:14px;line-height:20px}.bootstrap-switch .bootstrap-switch-handle-on,.bootstrap-switch .bootstrap-switch-handle-off{text-align:center;z-index:1;width:33.33333333%}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{color:#fff;background:#428bca}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info{color:#fff;background:#5bc0de}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success{color:#fff;background:#5cb85c}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning{background:#f0ad4e;color:#fff}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger{color:#fff;background:#d9534f}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default{color:#000;background:#eee}.bootstrap-switch .bootstrap-switch-handle-on{border-bottom-left-radius:3px;border-top-left-radius:3px}.bootstrap-switch .bootstrap-switch-handle-off{border-bottom-right-radius:3px;border-top-right-radius:3px}.bootstrap-switch .bootstrap-switch-label{text-align:center;margin-top:-1px;margin-bottom:-1px;z-index:100;width:33.33333333%;color:#333;background:#fff}.bootstrap-switch input[type=radio],.bootstrap-switch input[type=checkbox]{position:absolute!important;top:0;left:0;opacity:0;filter:alpha(opacity=0);z-index:-1}.bootstrap-switch input[type=radio].form-control,.bootstrap-switch input[type=checkbox].form-control{height:auto}
.bootstrap-switch {
  -moz-user-select: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  cursor: pointer;
  display: inline-block;
  line-height: 8px;
  min-width: 100px;
  overflow: hidden;
  position: relative;
  text-align: left;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
}
.form-group.hrm-form-group {
  clear: both;
  display: block;
  margin-bottom: 9px;
  width: 100%;
}
.form-group.hrm-form-group {
  clear: both;
  display: block;
  margin-bottom: 1px;
  min-height: 38px;
  width: 100%;
}
.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 1px;
  border-top-left-radius: 0px;
}
.bootstrap-switch .bootstrap-switch-handle-off {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0px;
}