.modern-ticker {
  height: 48px;
  line-height: 30px;
  margin-bottom: -1px;
}
.modern-ticker ul {
    margin: 0;
    padding: 0;
    list-style: none
}


.mt-label {
    margin-right: 2px;
    padding: 0 8px 0 12px;
    position: absolute;
    left: 0
}

.mt-round .mt-label {
    border-radius: 5px 0 0 5px
}

.mt-news {
  position: absolute;
}

.mt-scroll .mt-news {
    background-color: transparent
}

.mt-news ul {
    background-repeat: no-repeat;
    background-position: -1000px
}

.mt-news li {
    float: left
}
.mt-round .mt-news:first-child, .mt-round .mt-news:first-child a {
  border-top-left-radius: 5px;
}
.mt-round .mt-news:last-child, .mt-round .mt-news:last-child a {
  border-top-right-radius: 5px;
}
.mt-news a {
    font-size: 15px;
    padding: 0 10px 0 20px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-position: 7px center;
    display: block;
    white-space: nowrap
}

.mt-scroll.mt-round .mt-news a {
    border-radius: 0
}

.mt-controls {
  background-position: -1000px center;
  background-repeat: no-repeat;
  margin-left: 2px;
  position: absolute;
  right: 0;
  width: 100%;
}
.mt-next,
.mt-play,
.mt-prev {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    cursor: pointer
}

.mt-round .mt-next {
    border-radius: 0 5px 5px 0
}
.mt-news {
  width: 100% !important;
}
.mt-news {
  height: 55px;
}

.mt-label {
    background-color: #09f
}

.mt-news {
    background-color: #dadada
}
.mt-news ul {
  padding-left: 50px;
  padding-right: 50px;
}
.mt-news li {
    color: #202020;
    background-color: #dadada;
    background-image: url(images/bullet.png)
}
.mt-news li:hover {
    background-color: #183968; 
}
.mt-news li a:hover {
    color: #fafafa;
}
.mt-news a:active {
    background-color: #07f
    color: #fafafa;
}
.mt-next,
.mt-prev {
    background-color: #09f

}
.mt-prev {
  background: hsl(0, 0%, 93%) none repeat scroll 0 0;
  height: 55px;
  left: 0;
  position: absolute;
  width: 48px;
}
.mt-next {
     background: hsl(0, 0%, 93%) none repeat scroll 0 0;
	  right: 0px;
	  position: absolute;
	  height: 55px;
	  width: 48px;
}
.mt-prev i,.mt-next i {
  color: hsl(0, 0%, 0%);
  display: block;
  font-size: 22px;
  padding-top: 14px;
  text-align: center;
}
