@media screen and (max-width: 980px) {
    .top-menu .navbar-nav > li > a {
      border: medium none;
      color: hsl(0, 0%, 37%);
      display: block;
      line-height: 20px;
      padding: 12px 4px;
      position: relative;
    }
    .top-menu .navbar-nav > li > a span{
        font-size: 12px;
    }
    .top-menu .navbar-nav > li > a span img{
        width: 18px !important;
        height: 18px !important;
    }
}
@media screen and (max-width: 767px) {
 
  .small-sidebar .navbar .logo-box {
    display: block;
    left: 0;
    margin: 0 auto;
    position: relative;
    width: 134px !important;
    z-index: 9999999;
  }
  .small-sidebar .navbar .logo-box a span {
    display: inline-block;
    color: #fff;
  }
  .navbar-header {
    background: #276594;
  }
  .icon-bar {
    background: #fff none repeat scroll 0 0;
  }
  #main-wrapper {
    margin: 0;
    padding: 0px !important;
  }
  #advanced div {
    padding-left: 5px;
    padding-right: 5px;
  }
  .completed:nth-child(1) {
    display: none;
  }
  .completed:nth-child(2) {
    display: none;
  }
  #clientInformations .row .col-md-12 {
    padding:0px;
  }
  .page-inner {
    margin-left: 6px;
    margin-right: 8px;
  }
  .form-box-row {
    display: block;
    height: auto;
    overflow: hidden;
  }
    .col-from {
      border: 1px solid hsl(0, 0%, 88%);
      margin: 26px auto;
      padding: 0;
      width: 100%;
    }
    .col-lg-2.col-sm-6.col-md-6.column-item-fornt-panel {
        width: 100%;
        margin-bottom: 10px;
        float: left;
    }
    .column-item-fornt-panel .panel-body.btn-warning.hover-dashboard.swing {
        padding: 10px !important;
    }
    .mobile-padding-left-zero {
        padding-left: 0px;
    }
    .mobile-padding-right-zero {
        padding-right: 0px;
    }
    .row.box-collector-by.col-md-6 {
      min-height: 102px;
    }
    .box-mobile-responsive .panel .panel-body {
      padding:10 !important;
    }
    .bottom-menubar > ul {
      overflow-y: scroll;
      transition: max-height 0.35s ease-out 0s;
      background-color: #fff;
      min-height: 150px;
    }
    .bottom-menubar > ul > li > ul {
      display: block;
      width: 100%;
      background: #000;
    }
    .panel-heading.clearfix {
      height: auto;
      padding: 2px;
    }
    #main-wrapper .row .col-md-12 {
      padding: 0px;
    }
    .dataTables_filter {
      width: 100%;
      float: left;
      margin-top: 10px;
    }
    .dataTables_length {
      margin-top: 10px;
      width: 100%;
    }
}
